.m-ip {
    font-size: 16px;
    margin: 8px 0 0 0;
    text-align: center;
}

.u-ip {
    display: inline-block;
    width: 118px;
    vertical-align: sub;
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.u-title {
    display: inline-block;
    width: 52px;
    color: #999;
    vertical-align: top;
    overflow: hidden;
}

.u-copy-btn {
    width: 60px;
    cursor: pointer;
}

.u-qrcode-container {
    width: 240px;
    height: 240px;
}